body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
}

#cast {
  color: red;
  color: red;
}
